.carousel-caption{
    border-radius: 15px;
    opacity: 0.8;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: auto;
}
.valign-wrapper{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.valign{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.thin{
    font-weight: 200 !important;
}
.logo-footer{
    border-right-style : solid;
    border-right-color :grey;
    border-right-width : medium;
}
/**/
.carousel-caption{
    width: 100%;
    right: 0%;
    left: 0%;
    bottom: 0px;
    padding-top: 5px;
    /*padding-bottom: 5px;*/

}
.carousel-indicators{
    bottom: 0px;
    margin-bottom: 0px;
}

.jumbotron p{
    font-weight: 300;
}

.fa-twitter-square:hover{
    color: #00bcd4;
}
.fa-facebook-square:hover{
    color:#1565c0;
}
.fa-youtube-square:hover{
    color: white;
}
.fa-instagram:hover{
    color: #ec407a;
}
.fa-google-plus-square:hover{
    color:#ef5350;
}
.light{
    font-weight:300;
}
.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
