.carousel-caption{
    border-radius: 15px;
    opacity: 0.8;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: auto;
}
.valign-wrapper{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.valign{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.thin{
    font-weight: 200 !important;
}
